
th,tr{
    text-align: center;
   
}
.product-img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.action{
    font-size: .8rem;
    
}
.btn-container{
    display: flex;
    justify-content: space-around;
}