*{
    margin: 0;
    padding: 0;
}
.topbar{
   
   
    position: sticky;
    top:0;
    
    z-index: 999;
}

.topbar-wrapper{

height: 60px;
}

.topleft{
    color:white;
    font-size: 30px;
    font-weight: bold;
    
    
}

.noti-container{
    position: relative;
}

.noti-badge{
    display:inline-block;
    text-align: center;
    position: absolute;
    top:-10px;
    left:15px;
    color: whitesmoke;

    background-color: red;
    border-radius: 50%;
    min-width:1rem;
    min-height: 1rem;
}
.icon-container{
    margin-right: 10px;
    cursor: pointer;
    color: white;
}
.top-avatar{
    width:1.25rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
}