.sidebar{
   
    border:1px solid rgba(255, 255, 255, 0.137);
    flex:1;
    padding-top: 1.5rem;
    height: calc(100vh - 60px);
    position: sticky;
    top: 50px;
   

   
    

}

.sidebar-title{
    color:rgb(189, 187, 187);
    font-size: 15px;
    margin:10px 10px;
    
}
.link{
    
    font-size: 18px;
    margin:0;
    border-radius: 10px;
    display: flex;
    align-items: center;

    
   
}

.sidebar-icon{
    
    margin-right: 5px;
    
}

