.product-details{
    border:1px solid rgba(255, 255, 255, 0.137);
    min-height: calc(95vh - 60px);
    text-align: center;
}

.main-img{
    width: 15rem;
    height: 15rem;
    display: block;
}
.img-container{
    display: flex;
    justify-content: center;
}
.product-table  td{
    font-size: small;
    padding-top: 1rem;
    padding-bottom: 1rem;
}